<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Información del proyecto -->
      <div class="col-md-4 mb-3">
        <h5>Harmony</h5>
        <p>Un lugar donde la música cobra vida.</p>
      </div>

      <!-- Información de contacto -->
      <div class="col-md-4 mb-3">
        <h5>Contáctanos</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt-fill"></i> Sede: Avenida La Molina 1167, local 104, Centro Comercial La Rotonda 1,
            La Molina, Lima.</li>
          <li><i class="bi bi-telephone-fill"></i> Teléfono: 921 340 064</li>
        </ul>
      </div>

      <!-- Redes sociales -->
      <div class="col-md-4 mb-3">
        <h5>Síguenos</h5>
        <a href="#" class="text-white me-3"><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
        <a href="#" class="text-white"><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a>
      </div>
    </div>

    <!-- Separador y derechos reservados -->
    <hr class="my-3">
    <div class="text-center">
      <p class="mb-0">&copy; <span id="year-inscripcion"></span> Harmony. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
